@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  margin: 0;
  font-family: 'Kanit', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Kanit', sans-serif;
}

.MuiFormLabel-root  {
  font-family: 'Kanit', sans-serif !important;
  
}

input  {
  font-family: 'Kanit', sans-serif !important;
  color  : #5B81DC !important;
}

.MuiInputLabel-outlined {
  font-size:  0.85rem !important;
}

.MuiTypography-body1  {
  font-family: 'Kanit', sans-serif !important;

}

#ListItemCheckEyes .MuiTypography-body1 {
  color  : #5B81DC !important;
  font-size: 1vw;
  font-family: 'Kanit', sans-serif !important;
  width: 14vw !important;
}

.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #FFBB00 !important;
}

.MuiSwitch-colorSecondary.Mui-checked {
  color:#FFBB00 !important  ;
}

.MuiSwitch-track {
  background-color: #C8C8C8 !important;
}

.MuiSwitch-switchBase {
  color : #C8C8C8 !important;
}

#TabsBar .MuiTab-textColorPrimary.Mui-selected {
  color: #819DE0 !important;
  font-family: 'Kanit', sans-serif !important;
  font-size: 1vw;
}

#TabsBar .MuiTab-textColorPrimary {
  font-family: 'Kanit', sans-serif !important;
  font-size: 1vw;
}

#TabsBar .PrivateTabIndicator-colorPrimary-10 {
  background-color:#819DE0 !important ;
}

.MuiCheckbox-root {
  color: #FFBB00 !important;
}

#CheckByMouse .MuiOutlinedInput-inputMarginDense {
  text-align: end !important;
}

.MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
  border-color : #FFFFFF !important;
}

.MuiDrawer-paperAnchorLeft  {
  width: 62vw !important;
}

.MuiList-padding {
  padding-top:  0 !important;
  padding-bottom: 0 !important;
}

@media (min-width: 1920px) {
#GSC.MuiGrid-grid-xl-1 {
    max-width: 3.333333% !important;
  }

}

#InputBP .MuiOutlinedInput-input {
  padding-right: 0px !important;
  padding-left: 6px !important;
}


